.movie-details {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 2rem;
}

.movie-details h1 {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 3px;
    margin-bottom: 1rem;
}

.movie-details h1 span {
    float: right;
    margin-right: 8rem;
    background-color: var(--color-red-light);
    border-radius: 50%;
    padding: 1rem 0.8rem;
    font-size: 2rem;
    margin-left: 2rem;
}

.movie-details .poster {
    width: 35rem;
}

.movie-details .poster img {
    width: 100%;
    object-fit: cover;
}

.movie-details .plot {
    width: 70%;
    line-height: 2rem;
    color: white;
}

.movie-details p .strong {
    color: grey;
    font-weight: bolder;
}

.movie-details p {
    margin-block: 2rem;
}

@media screen and (max-width: 1440px) {
    .movie-details {
        display: flex;
        flex-direction: column;
    }

    .movie-details h1 {
        font-size: 1.6rem;
    }

    .movie-details h1 span {
        padding: 0.8rem 0.5rem;
        font-size: 1.2rem;
    }

    .movie-details .plot {
        width: 100%;
        text-align: justify;
    }

    .movie-details p {
        margin-block: 1rem;
    }
}

.movie-details .poster {
    width: 20rem;
}

@media screen and (max-width: 768px) {
    .movie-details .plot {
        width: 75%;
        text-align: justify;
    }
    .movie-details p {
        margin-block: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .movie-details .plot {
        width: 75%;
        text-align: justify;
    }
}

@media screen and (min-width: 1440px) {
    .movie-details {
        display: flex;
        flex-direction: row;
    }
}
